@import './MontserratFont.css';

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #F6F6F6;
  padding: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #6b6b6b;
  padding: 5px 10px;
  border-radius: 3px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.logo {
  width: 250px;
}
