.h1-title {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #111827;
  font-size: 20pt;
  padding: 15px;
}

.h2-title {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #b6b5b5;
  font-size: 11pt;
  padding: 0px;
  margin-top: 35px;
}

.image-container {
  flex: 0 0 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.button-container {
  display: flex; /* Use flexbox to horizontally align elements */
}


input[type="text"],
input[type="email"],
input[type="password"] {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #b6b5b5;
  border-radius: .6rem;
  box-sizing: border-box;
  background-color: #F8F7F5;
  font-size: .875rem;
  line-height: 1.25rem;
  padding: .75rem 1rem;

}

.input:-webkit-autofill {
  -webkit-text-fill-color: #000000; /* Set the text color to black */
  background-color: #c1b1b1; /* Set the desired background color */
}

input[type="submit"],
button {
  display: inline-block;
  margin-right: 10px;
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
  background-color: #DEB2C7;
  border: 0;
  border-radius: .6rem;
  box-sizing: border-box;
  color: white;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

input[type="submit"]:hover,
button:hover {
  background-color: #DEB2C7;
}

.forgot-password,
.create-account {
  text-align: center;
  margin: 10px 0;
}

.sign-up-button {
  display: inline-block;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: #DEB2C7;
  border: 0;
  border-radius: .6rem;
  box-sizing: border-box;
  color: white;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.sign-up-button:hover {
  background-color: #DEB2C7;
}

.sign-up-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.sign-up-button:focus-visible {
  box-shadow: none;
}

.form{
  background-color: #F6F6F6;
  width: 500px;
  height: 250px;
  padding: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: .6rem;
  border: 1px solid #b6b5b5;

}
