body {
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #F6F6F6;
}


.main-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

